<Layouts.app flash={@flash}>
  <article
    id={"post-#{@post.slug}"}
    class="prose prose-zinc m-auto px-4 dark:prose-invert prose-a:text-cyan-500 prose-img:m-auto prose-hr:my-8 md:p-0 dark:prose-a:text-cyan-400"
  >
    <header class="pt-6 pb-4">
      <h1 class="mb-2">{@post.title}</h1>
      <p class="m-0 text-zinc-400 dark:text-zinc-500">
        <time datetime={Date.to_iso8601(@post.date)}>
          {Calendar.strftime(@post.date, "%B %d, %Y")}
        </time>
      </p>
    </header>
    <section id="post-body">{raw(@post.body)}</section>
  </article>
</Layouts.app>
