* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #fff;
}

.greeting {
  color: #fff;
}

.gradient {
  animation: text-glow 15s ease-in-out infinite;
  background: linear-gradient(-60deg, #8a2387, #e94057, #8a2387, #f27121);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-hover {
  animation: text-glow 5s ease-in-out infinite;
  background: linear-gradient(-60deg, #8a2387, #e94057, #f27121);
  background-size: 0%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
  color: #fff;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
}

.gradient-hover:hover {
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes text-glow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
