/* @font-face {
  font-family: "Space Mono";
  src: url("")
} */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,200;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #fff;
}

main {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.greeting {
  font-weight: 400;
  color: #fff;
  font-size: clamp(5rem, 15vw, 9rem);
  font-family: "Work Sans", sans-serif;
}

.name {
  font-weight: 700;
  font-size: clamp(5rem, 15vw, 10rem);
}

.gradient {
  animation: text-glow 15s ease-in-out infinite;
  background: linear-gradient(-60deg, #8a2387, #e94057, #8a2387, #f27121);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-hover {
  animation: text-glow 5s ease-in-out infinite;
  background: linear-gradient(-60deg, #8a2387, #e94057, #f27121);
  background-size: 0%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
  color: #fff;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
}

.gradient-hover:hover {
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes text-glow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
