<Layouts.app flash={@flash}>
  <div class="m-auto max-w-[65ch] px-4 md:px-0">
    <p>
      I'm Sam, a software engineer currently creating tools for Salesforce DevOps at
      <a href="https://www.gearset.com" class="text-cyan-500 underline dark:text-cyan-400">
        Gearset
      </a>
    </p>
    <div id="posts" class="mt-8">
      <div :for={post <- @posts} id={"post-#{post.slug}"} class="post-summary">
        <h2 class="mb-1 text-xl font-medium text-zinc-900 dark:text-zinc-200">
          <.link
            href={~p"/#{post.slug}/"}
            class="underline decoration-cyan-500 decoration-dashed underline-offset-4 hover:decoration-solid dark:decoration-cyan-400"
          >
            {post.title}
          </.link>
        </h2>
        <p class="text-xs font-light text-zinc-500 dark:text-zinc-400">
          <time datetime={Date.to_iso8601(post.date)}>
            {Calendar.strftime(post.date, "%B %d, %Y")}
          </time>
        </p>
        <p class="my-2 leading-relaxed text-zinc-700 dark:text-zinc-300">{post.description}</p>
        <hr class="my-4 border-gray-200 dark:border-zinc-600" />
      </div>
    </div>
  </div>
</Layouts.app>
